# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\데이터시각화\covid19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
